* {
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.aboutus {

}

.aboutuscard {
	width: 18rem;
}

.footer {
	background-color: cadetblue;
}

.header {
	display: flex;
	background-color: #800080;
}

.home {

}

.login {

}

.search {

}

.searchform {
	background-color: azure;
}

.searchresult {
	background-color: darkcyan;
}

.searchresultcard {

}

.showcard {

}

.shows {

}
