* {
  font-family: "Aclonica", sans-serif;
  font-family: "Sarala", sans-serif;
}

.aboutus {
}

.aboutuscard {
  width: 18rem;
}

div.footer {
  background-color: #5f5f5f;
  width: 100%;
  position: fixed;
  bottom: 0;
}

div.header {
  background-color: #a7e8f1;
}

nav.headernavbar {
  display: flex;
  justify-content: flex-end;
}

nav.footernavbar {
  display: flex;
  justify-content: flex-end;
}

div.home {
  text-align: center;
  background-color: #e9e8dd;
}

.welcome {
  padding: 60px;
  font-size: 36pt;
  color: #5f5f5f;
}

.welcomedesc {
  padding: 20px;
  font-size: 24px;
  color: #5f5f5f;
}

.login {
}

.search {
}

.searchform {
  border: thick black solid;
  border-radius: 10px;
  width: 33rem;
  padding: 14px;
}

.searchresult {
  display: flex;
  background-color: black;
  height: 100rem;
}

.searchresultcard {
  width: 18rem;
  height: 700px;
  margin: 10px;
}

.showcard {
  width: 18rem;
  height: 700px;
  margin: 10px;
}

.shows {
  height: 100rem;
  background-color: black;
  display: flex;
}

.noShowsParent {
  background-color: #5f5f5f;
  color: #a7e8f1;
  display: flex;
  justify-content: center;
  margin: 20px;
  width: 50rem;
  height: 400px;
}

.noShowsChild {
  margin: 20px;
  height: 400px;
}
